/cache
/logs
/.console_history
/*.jar
/banned-ips.json
/banned-players.json
/commands.yml
/eula.txt
/help.yml
/ops.json
/permissionsGroupings.yml
/usercache.json
/version_history.json
/whitelist.json